@charset "UTF-8";

@media all and (min-width:1024px) and (max-width:1410px){

    /* 네비 */
    .container_nav{width: 100%; height: 90px; display: flex;}
    nav {width: 53%; height: 100%; 
        display: flex; flex-direction:row; justify-content:space-between;margin-left: 3.2%;}
    .mainnav {align-content: center;}
    .mainnav > li {float: left; padding-left: 40px; cursor: pointer; font-size: 15px; }
    .mainnav li:nth-of-type(1) {padding-left: 0;}
    .search {
        width: 414px; 
        height: 25%; 
        text-align: center; margin-top:30px; 
        border: none; 
        outline: none; 
        border-radius: 20px;
        background: #EBEBEB;
        color: #fff;
    }
    .container_nav img {margin-top: 3px;}
    .container_nav{
        position: fixed;
    }
    
    .mainnav > li {
        position: relative; /* 기준점 역할 */
    }

    .subnav {
        display: none; 
        position: absolute;
        top: 100%; /* li 아래에 뜸 */
        left: 0;
        background: white;
        z-index: 999; 
        width: 120%;
        height:fit-content;
        margin-left: -10px;
        padding-left: 10px;
        
    }

    .subnav li:nth-of-type(1) {padding-top: 40px}
    .subnav li:nth-of-type(5) {padding-bottom: 10px}
    .subnav li {padding-top: 10px; width: 50px;}
    .subnav li a{color: #377C4C; text-decoration: none;}
    .subnav li a:hover {color: #FF6700;}
    .subnav li a:active {color: #FF6700;}

/* sub 시작 */
.contentwrap {
    width:48.9583%;
    height: auto;
    margin: 0 auto;
}

.top {
    width: 100%; height: 400px;
    /* background-color: #b9efff; */
    padding-top: 90px; /*작은 사이즈는 다른 사이즈로 줘야함*/
    display: flex;
    /* background-image: url('/img/sub01_cop/subup1.jpg'); */
}
.about {
    width: 100%;

}
.about div {text-align: center;}

.about > .bigT {padding-top: 40px; padding-bottom: 20px;}
.about > div img {width: 460px;}


.identity {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .identity .textbox,
    .identity .imgbox {
        width: 100%;
        height: 300px; /* 원하는 고정 높이로 설정 */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .textbox {
        font-size: 1.67rem;
        font-weight: 600;
        color: white;
        text-align: center;
        transition: color 1.5s ease-out;
    }
    
    .imgbox img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .textbox.active {
        color: #377C4C; 
    }
}

.map {
    width: 100%; height: 570px;
    background-color: #ffe1ce;
}

/* sub2 blog*/
.full{width: 100%; display: flex;margin-top: 40px; flex-direction: row;}
/* 왼쪽 콘텐츠 */
.contentswrap {
    width: 48.9583%;
    /* background-color: antiquewhite; */
    margin-left: 12.5%;
}
.rightcontentswrap {width: 25%; margin-left: 10.4166%;}

.top {
    width: 100%;
    height: 400px;
    padding-top: 90px;
    display: flex;
}


.clip {

    width: 100%; 
    height: 450px;
}

.kyw-body1 {width: 100%; display: flex; flex-flow: column; justify-content: space-between;cursor: pointer;margin-top: 5px;}
.kyw-header {display: flex; justify-content: space-between; flex-flow: row wrap;margin-bottom: 20px;cursor: pointer;}
.kyw-footer {display: flex;justify-content: space-between; margin-top: 10px; cursor: pointer;}
.kyw-header img:hover {filter: brightness(0.5)}

.instabox {display: flex; width: 100%; justify-content: space-between;flex-flow: row wrap;margin-top: 20px;}
.recentbox {width: 46%; height:  46%; overflow: hidden; margin-bottom: 8px;}
.topT{font-size: 2rem; font-weight: 600; justify-items: center;margin-top: 40px;}
