@charset "UTF-8";

@font-face {
    font-family:'Pretendard-Regular';
    src:url(../fonts/Pretendard-Regular.otf) format('truetype');
}

*{
    list-style: none;  
    margin: 0; padding: 0;
    font-family: 'Pretendard-Regular';
    box-sizing: border-box;
} 
ul,li,a {text-decoration: none; color: #121212;}

/* 폰트 사이즈 모음 */
html {font-size: 15px;}

/* 네비 */
.container_nav{z-index: 100; background-color: white;}
.container_nav img {margin-top: 3px;}

.mainnav > li {
    position: relative; /* 기준점 역할 */
}

.mainnav > li {
    position: relative; /* 기준점 역할 */
  }


.subnav {
    /* display: none;  */
    position: absolute;
    top: 100%; /* li 아래에 뜸 */
    left: 0;
    background: white;
    z-index: 999; 
    width: 310px;
    height: 30px;
}
.subnav li a{color: #377C4C; text-decoration: none;}
.subnav li a:hover {color: #FF6700;}
.subnav li a:active {color: #FF6700;}


.subnav li:nth-of-type(1) {padding-top: 40px}
.subnav li:nth-of-type(5) {padding-bottom: 10px}
.subnav li {padding-top: 10px; width: 50px;}
.subnav li a{color: #377C4C; text-decoration: none;}
.subnav li a:hover {color: #FF6700;}
.subnav li a:active {color: #FF6700;}

/* 푸터 */
footer {width: 100%; height: 130px; display: flex; justify-content: space-between;border-top: #dadada 1px solid; }
footer img {padding: 20px;}
footer > div{align-content: center; padding-left: 2%;}
.footerT div {color: #444444; font-size: 0.8rem;}

