@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    list-style: none;  
    margin: 0; padding: 0;
    font-family: "Pretendard-Regular";
    box-sizing: border-box;
} 

ul,li,a {text-decoration: none;}




#contents_wrap {
    width: 100%;
    height:5140px ;
    background-color: antiquewhite; 
    display: flex; 
    flex-flow: row nowrap; 
    
    margin: 0 auto;}
.container {width: 75%; border: 1px solid; margin: 0 auto; height: 100%;}


header {width: 100%;display: flex;}




footer {width: 100%; height: 130px; background-color: tomato;}


/* 네비 */
.container_nav{width: 100%; height: 90px; background-color: rgb(0, 47, 255); display: flex;}
nav {width: 53.4%; height: 100%; background-color: rgb(153, 153, 153);
    display: flex; flex-direction:row; justify-content:space-between;}
nav ul {align-content: center;}
nav ul li {float: left; padding-left: 40px; cursor: pointer; font-size: 15px; }
nav ul li:nth-of-type(1) {padding-left: 0;}
.search {
    width: 20%; 
    height: 25%; 
    text-align: center; margin-top:30px; 
    border: none; 
    outline: none; 
    border-radius: 20px;
    background: #EBEBEB;
    color: #fff;
}
.container_nav img {margin-top: 3px;}

/* 슬라이더 */
.sliderwrap {width: 100%; height:auto ; background-color: tomato; overflow: hidden; margin-bottom: 40px;}
/* .slide {width: 253.3%;height: 100%; margin-left: -40%;} */
.slide {width: 324%;height: 100%; margin-left: -69.5%;}
/* .slide li{height: 100%;float: left; padding: 0 20px;} */
.slide li{width: 25%;float: left; padding: 0 0.3%;}
.slide li img {width: 100%;}  

/* 콘텐츠 시작 */

/* 왼쪽 콘텐츠 */
.container_side {width:12.5%; height:100%; background-color: aqua;padding-left: 2%; font-size: 60px;font-weight: 800;}
.container_side div:nth-of-type(1) {position: sticky;top: 0; height: 2029px;}
/* .container_side div:nth-of-type(2) {position: sticky;top: 2089px; height: 2029px;} */

/* 중간 콘텐츠 */
.leftright {width:87.5%; display: flex; justify-content:space-between;}

.container_left {width: 100%;height: 100%; background-color: pink; display: flex;margin-right: 9.8%;}
.pink_left {width: 50%; padding-right: 1%;}
.pink_left img {width: 100%;}
.one div:nth-of-type(1) {font-size:15px ;font-weight: 500; padding-top: 20px;}
.one div:nth-of-type(2) {font-size: 25px; font-weight: 700; line-height: 32px; padding:10px 0 ;}
.one div:nth-of-type(3) {font-size:15px ;font-weight: 500; color: #377C4C;}

.one_1 {margin-top: 5%;}
.one_1 img {width: 30.6%; cursor: pointer;}
.one_1 img:nth-of-type(2) {margin:0 3%;}


.pink_right {width: 50%; padding-left: 1%;}
.pink_right img {width: 100%;}



/* 제일 오른쪽 콘텐츠 */
.container_right {width: 500px; background-color: aqua; height:100%; }
/* .container_right a{ position: sticky; top: 0;} */
.container_right a img{ position: sticky; top: 0;}