@charset "UTF-8";

/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

/* 3분할 폰트 사이즈 */
.smallT {font-size: 0.87rem;margin-top: 5%}
.titleT {font-size: 1rem; font-weight:600;margin-top: 2%}
.lineT {font-size: 0.87rem;margin-top: 10%; text-decoration: line-through;}
.costT {font-size: 1rem; color:#FF6700 ;margin-top: 2%}
.star {font-size: 0.87rem;margin-top: 8%}
/* 윗사진 아래 폰트 사이즈 */
.upsmallT {font-size:1rem ;font-weight: 500; padding-top: 20px;}
.uptitleT {font-size: 1.667rem; font-weight: 700; line-height: 32px; padding:10px 0 ;}
.upcolorT {font-size:1rem ;font-weight: 500; color: #377C4C;}
/* 02콘텐츠 폰트 사이즈*/
.sndT {font-size: 1.667rem;font-weight: 600;margin-top: 4%; line-height: 2.3rem;}
.sndsmallT {font-size: 1rem; color: #377C4C; margin-top: 1%;}
/* 03콘텐츠 폰트 사이즈 */
.trdsmall {font-size: 0.8667rem; margin-top: 1%;}
.trdtitleT {font-size: 1rem; font-weight: 600; margin-top: 4%;}
.trdcost {font-size: 1rem;font-weight: 600; margin-top: 4%;}
/* 푸터 폰트 */
footer div {font-size: 0.8rem; line-height: 1.1rem;}

.one_1 img:hover {opacity: 0.8;}
.trd1 a img:hover {opacity: 0.8;}
.contentsecond a:nth-of-type(2) {display: none;}


#contents_wrap {
    width: 100%;
    height:100% ;
    
    display: flex; 
    flex-flow: row nowrap; 
    
    margin: 0 auto;}
.container {width: 75%; border: 1px solid; margin: 0 auto; height: 100%;}


header {width: 100%;display: flex;}

/* 네비 */
.container_nav{width: 100%; height: 90px; display: flex;}
nav {width: 53.4%; height: 100%; 
    display: flex; flex-direction:row; justify-content:space-between;}
.mainnav {align-content: center;}
.mainnav > li {float: left; padding-left: 40px; cursor: pointer; font-size: 15px; }
.mainnav li:nth-of-type(1) {padding-left: 0;}
.search {
    width: 20%; 
    height: 25%; 
    text-align: center; margin-top:30px; 
    border: none; 
    outline: none; 
    border-radius: 20px;
    background: #EBEBEB;
    color: #fff;
}
.container_nav img {margin-top: 3px;}

.mainnav > li {
    position: relative; /* 기준점 역할 */
  }


.subnav {
    /* display: none;  */
    position: absolute;
    top: 100%; /* li 아래에 뜸 */
    left: 0;
    background: white;
    z-index: 999; 
    width: 310px;
    height: 30px;
}
.subnav li a{color: #377C4C; text-decoration: none;}
.subnav li a:hover {color: #FF6700;}
.subnav li a:active {color: #FF6700;}


/* 슬라이더 */
.sliderwrap {width: 100%; height:auto ; overflow: hidden; margin-bottom: 40px;}
.slide {width: 324%;height: 100%; margin-left: -69.5%;}
.slide li{width: 25%;float: left; padding: 0 0.3%;}
.slide li img {width: 100%;}  

/* 콘텐츠 시작 */

/* 왼쪽 콘텐츠 */
.container_side {width:200px; height:100%;padding-left: 2%; font-size: 4rem;font-weight: 800;}
.container_side div {position: relative;}
.container_side div span {position: sticky; top:0;}
/* .container_side div:nth-of-type(3) span {position:inherit; top:0;} */

/* 중간 콘텐츠 */
.leftright {width:87.5%; height: fit-content ;display: flex;flex-direction: column;}

.container_left {width: 87.5%;height: 100%; display: flex;}
.pink_left {width: 50%;}
.pink_left img {width: 100%;}

.one_1 {margin-top: 5%; display: flex;}
.one_1 img {width: 100%; cursor: pointer;}
.one_1 .middle {margin:0 3%;}

.pink_right {width: 50%;}
.pink_right img {width: 100%;}
/* .pink_right {padding-top: 35%;} */

.two {margin-top: 5%;}

/* contentsecond 02콘텐츠 시작 */
.contentsecond {width: 87.5%;height: fit-content; }
.contentsecond a {width: 100%;}
.contentsecond a img {width: 100%; margin-top: 4%; margin-bottom: 1%; }

/* contenttrd 03 콘텐츠 시작 */
.contenttrd {width: 87.5%; height: fit-content;}
.contenttrd ul {display: flex; width: 30%; justify-content: space-between; margin-top: 1%;}
.contenttrd ul li:hover {color: #377C4C;}
.trdtop {display: flex; width: 100%; flex-flow: row wrap;justify-content: space-between;}

.trd1 {position: relative;}
.trd1:nth-of-type(1) {margin-top: 0%;}
.trd1:nth-of-type(2) {margin-top: 0%;}
.trd1:nth-of-type(3) {margin-top: 0%;}
.trd1 > img {position: absolute; right: 5px; bottom: 58px; cursor: pointer;}

/* 제일 오른쪽 콘텐츠 */
.container_right {width: 500px;height:100%; }
/* .container_right a{ position: sticky; top: 0;} */
.container_right a img{ position: sticky; top: 0;}

/* 푸터 */
/* .contain_last {width: 70.5%; margin-left: 9%;} */
footer {width: 35%; height: 130px;display: flex; justify-content: space-between;}
/* footer div {position: absolute; left: 10%; line-height: 1.5rem;} */
footer img {padding: 20px;}
footer > div{align-content: center; padding-left: 2%;}



/* 반응형 */

@media all and (min-width:320px) and (max-width:768px) {

    html {font-size: 85%;}
    .logo {text-align: center;}
    #contents_wrap {
        width: 100%;
        height:100% ;
        
        display: flex; 
        flex-flow: row nowrap; 
        
        margin: 0 auto;}
    .container {width: 75%; border: 1px solid; margin: 0 auto; height: 100%;}
    header {width: 100%;display: flex;}
    


    /* 슬라이더 */
    .sliderwrap {display: none;}

    /* 콘텐츠 시작 */
    
    /* 왼쪽 콘텐츠 */
    .container_side {display: none;}

    /* 중간 콘텐츠 */
    .leftright {width:100%; height: fit-content ;display: flex; flex-direction: column;}
    
    .container_left {width: 100%; height: 100%; display: flex; flex-direction: column;padding: 0 3%;}
    .pink_left {width:100%;}
    .pink_left img {width: 100%;}
    .one img {width: 100%;}
    
    .one_1 { display: flex; flex-direction: row; width:100%; justify-content: space-between;}
    .one_1 img {width: 100%; cursor: pointer;}
    .one_1 div {width: 100%;}
    .one_1 .middle {margin:0 3%;}
    
    .pink_right {width: 100%;}
    .pink_right img {width: 100%;}
    .pink_right {padding-top: 5%;}
    
    .two {margin-top: 5%;}
    
    /* contentsecond 02콘텐츠 시작 */
    .contentsecond {width: 100%;height: fit-content; padding: 0 3%;}
    .contentsecond a {width: 100%;}
    .contentsecond a img {width: 100%; margin-top: 4%; margin-bottom: 1%; }
    
    .smallT {font-size:90%}
    .titleT {font-size: 90%;}
    .lineT {font-size:90%;}
    .costT {font-size: 90%;}
    .star {font-size: 90%;}
    /* 윗사진 아래 폰트 사이즈 */
    .upsmallT {font-size:110% ;}
    .upcolorT {font-size:110% ;}
    .sndsmallT {font-size: 95%;}


    /* contenttrd 03 콘텐츠 시작 */
    .contenttrd {width: 100%; height: fit-content;padding: 0 3%;}
    .contenttrd ul {display: flex; width: 65%; justify-content: space-between; margin-top: 3%; flex-direction: row;}
    .contenttrd ul li:hover {color: #377C4C;}
    .trdtop {display: flex; width: 100%; flex-flow: column;}
    
    .trd1 { position: relative; padding-top: 5%; }
    .trd1 > img {position: absolute; right: 5px; bottom: 16%; cursor: pointer;}
    .trd1 a img {width: 100%;}

    .trdsmall {font-size: 100%;}
    .trdtitleT {font-size: 120%;}
    .trdcost {font-size: 120%;}
    
    /* 제일 오른쪽 콘텐츠 */
    .container_right {width:35%; height:100%; display: none; }
    .container_right a img{ position: sticky; top: 0;}
    
    /* 푸터 */
    footer {width: 100%; height: 130px;display: flex; justify-content: space-between;padding: 0 3%;}
    footer img {padding: 20px;}
    footer > div{align-content: center; padding-left: 2%;}
    
    
}

/* 중간 사이즈 */
@media all and (min-width:768px) and (max-width:1023px){
    
    html {font-size: 90%;}
    #contents_wrap {
        width: 100%;
        height:100% ;
      
        display: flex; 
        flex-flow: row nowrap; 
        
        margin: 0 auto;}
    .container {width: 75%; border: 1px solid; margin: 0 auto; height: 100%;}
    header {width: 100%;display: flex;}

    /* 슬라이더 */
    .sliderwrap {width: 100%; height:auto ; overflow: hidden; margin-bottom: 40px;}
    .slide {width: 320%;height: 100%; margin-left: -65%;}
    .slide li{width: 24%;float: left; padding: 0 0.3%;}
    .slide li img {width: 100%;}  
    
    /* 콘텐츠 시작 */
    
    /* 왼쪽 콘텐츠 */
    .container_side {width:100px; height:100%;padding-left: 2%; font-size: 3rem;font-weight: 800;}
    .container_side div {position: relative;}
    .container_side div span {position: sticky; top:0;}

    /* 중간 콘텐츠 */
    .leftright {width:100%; height: fit-content ;display: flex; flex-direction: column;}
    
    .container_left {width: 100%; height: 100%; display: flex; flex-direction: column;padding-right: 3%;}
    .pink_left {width:100%;}
    .pink_left img {width: 100%;}
    .one img {width: 100%;}
    
    .one_1 { display: flex; flex-direction: row; width:100%; justify-content: space-between;}
    .one_1 img {width: 100%; cursor: pointer;}
    .one_1 div {width: 100%; font-size: 100%;}
    .one_1 .middle {margin:0 3%;}
    
    .pink_right {width: 100%;}
    .pink_right img {width: 100%;}
    .pink_right {padding-top: 5%;}
    
    .two {margin-top: 5%;}
    
    /* contentsecond 02콘텐츠 시작 */
    .contentsecond {width: 100%;height: fit-content;padding-right: 3%;}
    .contentsecond a {width: 100%;}
    .contentsecond a img {width: 100%; margin-top: 4%; margin-bottom: 1%; }
    
    /* contenttrd 03 콘텐츠 시작 */
    .contenttrd {width:100%; height: fit-content;padding-right: 3%;}
    .contenttrd ul {display: flex; width: 50%; justify-content: space-between; margin-top: 1%;}
    .contenttrd ul li:hover {color: #377C4C;}
    .trdtop {display: flex; width: 100%; flex-flow: row wrap;justify-content: space-between;}
    
    .trd1 { position: relative; padding-top: 5%; width: 48%;}
    .trd1 > img {position: absolute; right: 5px; bottom: 58px; cursor: pointer;}
    .trd1 a img {width: 100%;}
    
    /* 제일 오른쪽 콘텐츠 */
    .container_right {width:35%; height:100%; display: none; }
    .container_right a img{ position: sticky; top: 0;}
    
    /* 푸터 */
    footer {width: 100%; height: 130px;  display: flex; justify-content: space-between;}
    footer img {padding: 20px;}
    footer > div{align-content: center; padding-left: 2%;}
    
    
}


@media all and (min-width:1024px) and (max-width:1410px){

    #contents_wrap {
        width: 100%;
        height:100% ;
    
        display: flex; 
        flex-flow: row nowrap; 
        
        margin: 0 auto;}
    .container {width: 75%; border: 1px solid; margin: 0 auto; height: 100%;}
    
    
    header {width: 100%;display: flex;}


    /* 슬라이더 */
    .sliderwrap {width: 100%; height:auto ; overflow: hidden; margin-bottom: 40px;}
    .slide {width: 320%;height: 100%; margin-left: -65%;}
    .slide li{width: 24%;float: left; padding: 0 0.3%;}
    .slide li img {width: 100%;}  
 
    
    /* 콘텐츠 시작 */
        
    /* 왼쪽 콘텐츠 */
    .container_side {width:17.5%; height:100%; padding-left: 2%; font-size: 4rem;font-weight: 800;}
    .container_side div {position: relative;}
    .container_side div span {position: sticky; top:0;}
    /* .container_side div:nth-of-type(3) span {position:inherit; top:0;} */
    
    /* 중간 콘텐츠 */
    .leftright {width:87.5%; height: fit-content ;display: flex;flex-direction: column;}
    
    .container_left {width: 87.5%;height: 100%; display: flex; flex-direction: column;}
    .pink_left {width: 100%;}
    .pink_left img {width: 100%;}
    
    .one_1 { display: flex; flex-direction: row; width:100%; justify-content: space-between;}
    .one_1 img {width: 100%; cursor: pointer;}
    .one_1 div {width: 100%; font-size: 100%;}
    .one_1 .middle {margin:0 3%;}

    .pink_right {width: 100%;}
    .pink_right img {width: 100%;}
    .pink_right {padding-top: 5%;}
    
    .two {margin-top: 5%;}
    
    /* contentsecond 02콘텐츠 시작 */
    .contentsecond {width: 87.5%;height: fit-content; }
    .contentsecond a {width: 100%;}
    .contentsecond a img {width: 100%; margin-top: 4%; margin-bottom: 1%; }
    
    /* contenttrd 03 콘텐츠 시작 */
    .contenttrd {width: 87.5%; height: fit-content;}
    .contenttrd ul {display: flex; width: 50%; justify-content: space-between; margin-top: 1%;}
    .contenttrd ul li:hover {color: #377C4C;}
    .trdtop {display: flex; width: 100%; flex-flow: row wrap;justify-content: space-between; margin-top: 4%;}
    
    .trd1 {margin-top: 2%; position: relative; width: 48%;}
    .trd1:nth-of-type(1) {margin-top: 0%;}
    .trd1:nth-of-type(2) {margin-top: 0%;}
    .trd1:nth-of-type(3) {margin-top: 0%;}
    .trd1 > img {position: absolute; right: 5px; bottom: 22%; cursor: pointer;}
    .trd1 a img {width: 100% ;}
    
    /* 제일 오른쪽 콘텐츠 */
    .container_right {  height:100%;}
    .container_right a img{ position: sticky; top: 0; }
    
    /* 푸터 */
    footer {width: 100%; height: 130px;  display: flex; justify-content: space-between;}
    footer img {padding: 20px;}
    footer > div{align-content: center; padding-left: 2%;}
    
}



/* 가장 큰 사이즈 */
@media all and (min-width:1411px){

/* .logo {margin-left: 0.5%;} */
#contents_wrap {
    width: 100%;
    height:100% ;
    display: flex; 
    flex-flow: row nowrap; 
    
    margin: 0 auto;}
.container {width: 75%; border: 1px solid; margin: 0 auto; height: 100%;}
header {width: 100%;display: flex;}

/* 슬라이더 */
.sliderwrap {width: 100%; height:auto ; overflow: hidden; margin-bottom: 40px;}
.slide {width: 320%;height: 100%; margin-left: -65%;}
.slide li{width: 24%;float: left; padding: 0 0.3%;}
.slide li img {width: 100%;}  

/* 콘텐츠 시작 */

/* 왼쪽 콘텐츠 */
.container_side {width:17.5%; height:100%; padding-left: 2%; font-size: 4rem;font-weight: 800;}
.container_side div {position: relative;}
.container_side div span {position: sticky; top:0;}

/* 중간 콘텐츠 */
.leftright {width:87.5%; height: fit-content ;display: flex;flex-direction: column;}

.container_left {width: 87.5%;height: 100%;  display: flex;}
.pink_left {width: 50%; padding-right: 1%;}
.pink_left img {width: 100%;}

.one_1 {margin-top: 5%; display: flex;}
.one_1 img {width: 100%; cursor: pointer;}
.one_1 .middle {margin:0 3%;}

.pink_right {width: 50%; padding-left: 1%;}
.pink_right img {width: 100%;}
.pink_right {padding-top: 35%;}

.two {margin-top: 5%;}

/* contentsecond 02콘텐츠 시작 */
.contentsecond {width: 87.5%;height: fit-content; }
.contentsecond a {width: 100%;}
.contentsecond a img {width: 100%; margin-top: 4%; margin-bottom: 1%; }

/* contenttrd 03 콘텐츠 시작 */
.contenttrd {width: 87.5%; height: fit-content;}
.contenttrd ul {display: flex; width: 50%; justify-content: space-between; margin-top: 1%;}
.contenttrd ul li:hover {color: #377C4C;}
.trdtop {display: flex; width: 100%; flex-flow: row wrap;justify-content: space-between; margin-top: 4%;}

.trd1 {margin-top: 2%; position: relative; width: 32%;}
.trd1:nth-of-type(1) {margin-top: 0%;}
.trd1:nth-of-type(2) {margin-top: 0%;}
.trd1:nth-of-type(3) {margin-top: 0%;}
.trd1 > img {position: absolute; right: 5px; bottom: 18%; cursor: pointer;}
.trd1 a img {width: 100% ;}

/* 제일 오른쪽 콘텐츠 */
.container_right {height: 100%; }
.container_right a img{ position: sticky; top: 0; }

/* 푸터 */
footer {width: 100%; height: 130px; display: flex; justify-content: space-between;}
footer img {padding: 20px;}
footer > div{align-content: center; padding-left: 2%;}


}
